# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*_id.txt

# Python
__pycache__/
*.pyc
.venv/

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
